*{
    margin: 0;
    padding: 0;
}
 body{
    background-image: url(./Galeria/Anime-Above-Clouds-Scenery-AI-Generated-4K-Wallpaper-jpg.webp);
    height: 100vh;
    box-sizing: border-box;
 }

.cabecalho_sessao_imagem{
    padding: 40px 0px 0px 40px;
    gap: 20px;
}

.apresentacao{
    display:flex;
    justify-content: space-between;
    margin: 2%;
    box-sizing: border-box;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    
}

.apresentacao__conteudo_criptografia_input{
   font-family:'Inter', sans-serif ;
   font-size: 32px;
   border: 0;
   width: 680px;
   height: 120px;
   background-color: #ffffff00;
   color:#ffffff;
   margin-left: 240px;
   max-width: 680px;
   min-width: 680px;
   
}
::placeholder {
    color: #ffffff ;
    
  }

.meio{
    
    display: flex;
    width: 400px;
    height: 944px;
    flex-shrink: 0;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    flex-direction: column;
}

.meio_meio_texto{
width: 336px;
margin: 32px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
border: 0;
max-width: 336px;
max-height: 781px;
color:#a6a0fd;
}

.meio_meio_texto::-moz-focus-inner{
    resize: none;
}

.meio_imagem{
    width: 336px;
    height: 300px;
    flex-shrink: 0;
    margin-top: 283px;  
    margin-left: 32px;    
    
}

.apresentacao__conteudo_botoes{
    display: flex;
    justify-content: space-between;

}

.rodape__botoes{
    margin: auto;
    padding: 8%;
    justify-content: center;
    width: 680px;
    height: 67px;
    text-align:center;
    vertical-align: middle;
}

.botoes_aviso{
    margin-right: 405px;
    padding-top:635px ;
    margin-left: 240px;
    color: #ffffff;
}

.botoes__botaoCriptografar{
    width: 328px;
    height: 67px;
    background-image:linear-gradient(rgb(9, 87, 255) , rgb(248, 156, 236));
    color: #000000;
    border-radius: 24px;
    margin-left: 240px;
    box-shadow: 2px 2px;
   
}
.botoes__botaoDescriptografar{
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: #000000;
    background-image:linear-gradient(rgb(9, 136, 255) , rgb(255, 216, 223));
    box-shadow: 2px 2px;

}

.rodaPe{
    background-color: rgb(255, 255, 255)
}


.botaoCopiar{
    background-image:linear-gradient(rgb(9, 165, 255) , rgb(255, 240, 240));
    color: #000000;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    margin-left: 32px; 
    margin-top: 120px;
}

